spring:
    sql:
        init:
            mode: always
#####################################################
# See dev.rilling.musql.MusqlProperties for details #
#####################################################
musql:
    key-mapping:
        # Drop, not needed in output
        "X-TIKA:Parsed-By": ""
        "X-TIKA:Parsed-By-Full-Set": ""
        # Drop, duplicate of `artist`
        "dc:creator": ""
        # Drop, duplicate of `xmpDM:audioSampleRate`
        "samplerate": ""
        # Drop, duplicate of by 'vendor'
        "xmp:CreatorTool": ""
        # General keys
        "Content-Type": "content_type"
        # Tika keys
        "dc:title": "title"
        # XMP keys
        # XMPDM keys
        "xmpDM:artist": "artist"
        "xmpDM:composer": "composer"
        "xmpDM:compilation": "compilation"
        "xmpDM:album": "album"
        "xmpDM:albumArtist": "albumartist"
        "xmpDM:trackNumber": "tracknumber"
        "xmpDM:discNumber": "discnumber"
        "xmpDM:genre": "genre"
        "xmpDM:releaseDate": "date"
        "xmpDM:duration": "duration"
        "xmpDM:logComment": "log_comment"
        "xmpDM:audioCompressor": "audio_compressor"
        "xmpDM:audioSampleRate": "audio_sample_rate"
        "xmpDM:audioChannelType": "audio_channel_type"

